bin
gen
.DS_Store
log.txt
.metadata/
.metadata/
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs

.metadata/.plugins/org.eclipse.core.resources/.projects/com.handstandtech.timetap/.indexes/e4/81/23/4a/ab/history.index
